.container {
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
  transition: all 0.8s ease;
  position: relative;
  width: 600px;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
}
