.container {
  display: flex;

  width: 100%;
  border: 1px solid #333;
  margin: 10px;
  align-items: center;

  box-shadow: 1px 1px 10px 0px #000000;

  cursor: pointer;

  transition: background-color 0.4s;
  user-select: none;
}

.container:hover {
  background-color: #11111199;
}

.container:active {
  transition: none;
  background-color: #22222299;
}

.thumbnail {
  width: 60px;
}

.container > div {
  margin: 3px;
}

.title {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 7px;

  text-overflow: ellipsis;
}

.actions {
  margin-left: auto !important;
  margin-right: 20px !important;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;

  background-color: black;
  border-radius: 4px;
  border: 1px solid white;
  transition: background-color 0.5s;
}

.button.delete:hover {
  background-color: red;
}

.button.edit:hover {
  background-color: blue;
}